.main-title{
  font-family: fantasy;  
  color:#eee;
  background-color: darkslategray;
}
.footer{
    color: #eee;
    background-color: #000;
    font-size: 14px;
}
#copy{
    font-size: 12pxs;
    font-style: italic;
}